extends layout

block content
  h1= title
  p Welcome to #{title}

block extraContent
  ul
    li Apples
    li.
      Bananas
    li.
      Melons
      Custards
  input(type='text').class-name#anyid
  - var condition = true
  if condition
    p I'ts True

  - var anyArray = [1,2,3]
  each value in anyArray
    p= value