<div class="container">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target="#mainNavbar" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="mainNavbar">
      <a href="#"><img ng-src="content/img/logo-dark.png" alt=""></a>
      <ul class="nav navbar-nav navbar-right" style="margin-right:5px">
        <li><a href="#">Become a host</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </nav>

  <div class="contentContainer">
    <h1>
      <span>STAY .PLAY. DISCOVER. </span>Find unique homes, experiences, and local guides for your trip.
    </h1>

  </div>

  <div class="searchBox row">
    <div class="searchBox1 col-md-3">
      <input type="text" ng-model="place" placeholder="Destination,city,address">
    </div>
  </div>
</div>
